@import './normalize.scss';
@import './base.scss';
@import './utils.scss';

header {
    height: 70px;
}

nav {
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    height: 100%;
    z-index: 1;
    padding: 0 4%;

    & > a {
        color: #FFF;
        padding: 0 1.2rem;
    }
}