<div class="dialog-wrap">
    <div class="dialog">
        <div class="dialog-player-container">
            <div class="video"></div>
            <div class="video-img">
                <img src="" alt="">
            </div>
            <div class="player-action-wrap">
                <!-- icon -->
            </div>
        </div>

        <div class="close-btn"></div>

        <div class="dialog-info">
            <div class="dialog-info-container">
                <!-- info -->
            </div>
        </div>
    </div>
</div>