<div class="mainBanner" ref="mainBanner">
    <div class="slide-wrap">
        <h2>지금 뜨는 콘텐츠</h2>
        <div class="slide-box">
            <div class="slide-list popular"></div>

            <div class="slide-btn">
                <button class="prevBtn">prev</button>
                <button class="nextBtn">next</button>
            </div>
        </div>
    </div>
    
    <div class="slide-wrap">
        <h2>키즈</h2>
        <div class="slide-box">
            <div class="slide-list kids"></div>

            <div class="slide-btn">
                <button class="prevBtn">prev</button>
                <button class="nextBtn">next</button>
            </div>
        </div>
    </div>
</div>
    
<a href="/tv">TV로 이동</a>