.preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none; // preview가 뜨기전에는 클릭되면 안된다.

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 56px 0;

    &.expanded {
        pointer-events: auto;

        .preview-inner {
            opacity: 1;
        }

        .preview-metadata {
            opacity: 1;
        }

        .preview-metadata {
            opacity: 1;
            padding: 32px;
        }

        .preview-close {
            display: block;
        }
    }
    
    &.small-expanded {
        pointer-events: auto;
    
        .preview-inner {
            opacity: 1;
        }

        .preview-metadata {
            opacity: 1;
        }

        .preview-close {
            display: none;
        }
    }
}

.preview-inner {
    width: 90%;
    max-width: 1024px;
    border-radius: 5px;
    transform-origin: center top;
    box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
    opacity: 0;
    overflow: hidden;
}

.preview-thumbnail {
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    img[src=""] {
        display: none;
    }

    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }
}

.preview-metadata {
    opacity: 0;
    transition: 0.24s;
    padding: 24px 16px 16px;
    background-color: #181818;
}

.preview-buttons {
    display: flex;
    justify-content: space-between;

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        display: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid #FFF;
        margin-right: 8px;
        padding: 6px;

        &.play {
            background-color: #FFF;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.preview-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.1rem;
    z-index: 1;
    cursor: pointer;
    
    > button {
        width: 36px;
        height: 36px;
    }
}