.preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    pointer-events: none; // preview가 뜨기전에는 클릭되면 안된다.

    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 70px 0;

    &.expanded {
        pointer-events: auto;

        .preview-inner {
            opacity: 1;
        }

        .preview-metadata {
            opacity: 1;
            padding: 32px;
        }

        .preview-buttons {
            button {
                display: flex;
            }

            .details {
                display: none;
            }
        }

        .preview-close {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #18181885;
            z-index: 12;
        }

        .preview-thumbnail {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
    
    &.small-expanded {
        pointer-events: auto;
        cursor: pointer;
    
        .preview-inner {
            opacity: 1;
        }

        .preview-thumbnail {
            &::after {
              background: none;
            }
        }

        .preview-buttons {
            button {
                display: flex;
            }
        }

        .preview-metadata {
            opacity: 1;
        }

        .preview-close {
            display: none;
        }
    }
}

.preview-inner {
    width: 90%;
    max-width: 1024px;
    border-radius: 5px;
    transform-origin: center top;
    will-change: transform;
    box-shadow: rgb(0 0 0 / 75%) 0px 3px 10px;
    opacity: 0;
    overflow: hidden;
}

.preview-thumbnail {
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    img[src=""] {
        display: none;
    }

    &::before {
        content: '';
        display: block;
        padding-bottom: 56.25%;
    }
}

.preview-video {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.24s;
    opacity: 0;
    pointer-events: none;

    &.show-video {
        z-index: 10;
        opacity: 1;
    }
}

.preview-metadata {
    opacity: 0;
    transition: 0.24s;
    padding: 24px 16px 16px;
    background-color: #181818;
}

.preview-buttons {
    display: flex;
    justify-content: space-between;

    > div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        display: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 1px solid #FFF;
        margin-right: 8px;
        padding: 6px;

        &.play {
            background-color: #FFF;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.preview-info {
    color: #B3B3B3;
    font-weight: 600;
    margin: 14px 0;

    > span {
        padding: 0 2px;
    }

    .average {
        color: #46d369;
    }
}

.genres {
    > span {
        &:not(:first-child)::before {
            content: '\2022';
            font-size: 16px;
            color: #646464;
            padding:0 10px;
        }
    }
}

.preview-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.1rem;
    z-index: 1;
    cursor: pointer;
    
    > button {
        width: 36px;
        height: 36px;
    }
}

.overlay {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .24s;
    background-color: rgba(0, 0, 0, .7);
    pointer-events: none;

    &.show-video {
        opacity: 1;
        pointer-events: auto;
    }
}